#ANSWER NO 1

In [4]:
n = float(input())
if n>0 :
    print('its a positive number')
elif n < 0:
    print('its a negative number')
else:
    print('its zero')

 12

its a positive number

#ANSWER NO 2

In [6]:
n = int(input('enter the age'))
if n >= 18:
    print('he is eligible for voting')
elif n< 18:
    print('he is not eligible')

enter the age 19

he is eligible for voting

#ANSWER NO 3

In [8]:
num1 = int(input())
num2 = int(input())
if num1 > num2:
    print(num1, ' is greater than ', num2)
else:
    print(num2, ' is greater than', num1)

 10
 11

11  is greater than 10

#ANSWER NO 4

In [1]:
year = int(input('enter the year'))
if year%4 == 0:
    print('its a leap year')
else:
    print('its not a leap year')

enter the year 2004

its a leap year

#ANSWER NO 5

In [ ]:
char = input()
char = char.lower()
if char[0] == 'a' or  char == 'e' or char == 'i' or char=='o' or char == 'u':
    print('its a vowel')

else:
    print('its a constant')

 harshit

its a constant

#ANSWER NO 6

In [19]:
num = int(input())
if num%2 == 0:
    print('its a even number')
else :
    print('its a odd number')

 19

its a odd number

#ANSWER NO 7

In [1]:
def calculate_absolute_value(number):
    if number < 0:
        return -number
    else:
        return number

# Example usage:
num = -5
absolute_num = calculate_absolute_value(num)
print(f"The absolute value of {num} is {absolute_num}")

The absolute value of -5 is 5

#ANSWER NO 8

In [17]:
num1 = int(input())
num2 = int(input())
num3 = int(input())
if num1 > num2 and num1 > num3:
    print(num1, 'is gratest')
elif num2 > num1 and num2> num3:
    print(num2, 'is the greatest')
else:
    if num3>num1 and num3 > num2:
        print(num3, 'is the greatest')

 12
 25
 45

45 is the greatest

#ANSWER NO 9

In [22]:
str1 = input()
str2 = str1.lower()
if str1 == str1[::-1]:
    print('its a palindrome')
else :
    print('its not a palindrome')

 madam

its a palindrome

#ANSWER NO 10

In [28]:
grade = float(input())
if grade >= 90  :
    print('your grade is A+')
elif 90 > grade >= 80 :
    print('your grade is A')
elif 80 > grade >= 70:
    print('your grade is B+')
elif 70> grade >= 60 :
    print('your grade is B')
else:
    print('your grade is C')

 96.1

your grade is A+

#ANSWER NO 11

In [3]:
num1 = int(input())
num2 = int(input())
num3 = int(input())

if num1 >= num2:
    if num1 >= num3:
        largest = num1
    else:
        largest = num3
else:
    if num2 >= num3:
        largest = num2
    else:
        largest = num3
print(largest,'is the largest number')

 12
 13
 14

14 is the largest number

#ANSWER NO 12

In [7]:
len1 = int(input())
len2 = int(input())
len3 = int(input())
if len1 == len2 and len2 == len3:
    print('its is a equilateral triangle')
elif len1 == len2 or len1 == len3 or len2 == len3:
    print('its is a isosceles triangle')
else :
    print('its is a scalene triangle')

 3
 3
 3

its is a equilateral triangle

#ANSWER NO 13

In [11]:
year = int(input())
if year%2 == 0 :
    print('its a leap year')
    if year%100 == 0 :
        print('its also a century year')

 2000

its a leap year
its also a century year

#ANSWER NO 14

In [12]:
n = float(input())
if n>0 :
    print('its a positive number')
elif n < 0:
    print('its a negative number')
else:
    print('its zero')

 10

its a positive number

In [13]:
#ANSWER NO 15

In [15]:
age = float(input('enter your age'))
if age >=13 and age <= 18:
    print('you are a teenager')
else:
    print('you are not a teenager')

enter your age 11

you are not a teenager

#ANSWER NO 16

In [3]:
angle = float(input())
if 180 >angle > 90 :
    print('its a obtuse angle')
elif angle<90:
    print('its a acute angle')
else:
    if angle == 90:
        print('its a right angle')

 90

its a right angle

#ANSWER NO 17

In [8]:
import math

a = float(input())
b = float(input())
c = float(input())

delta = (b**2)-(4*a*c)

if delta > 0:
    x1 = (((-b) + math.sqrt(delta)) / (2*a))
    x2 = (((-b) - math.sqrt(delta)) / (2*a))
    print('there are to root : %f and %f', (x1,x2))
elif delta == 0 :
    x = (-b)/2*a
    print('there are one root', x)
else :
    print('no root available delta is < 0 ')

 2
 5
 1

there are to root : %f and %f (-0.21922359359558485, -2.2807764064044154)

#ANSWER NO 18

In [22]:
num = int(input('enter the number'))

days = ['MONDAY' , 'TUESDAY', 'WEDNESDAY' ,  'THURSDAY' , 'FRIDAY' , 'SATURDAY' , 'SUNDAY' ]

if num == 0 or num > 7 :
    print('please enter the number between 1 to 7 ')
elif 7 >= num and num > 0:
    print(days[num-1])

enter the number 3

WEDNESDAY

#ANSWER NO 19

In [2]:
year = int(input())
if year%2 == 0 :
    print('its a leap year')
    if year%400 == 0 :
        print('its also divisible by 400')

 2000

its a leap year
its also divisible by 400

#ANSWER NO 20

In [2]:
num = int(input())
for i in range(2,num):
    if num%i== 0:
        print('its not a prime number')
        break
else :
    print('its a prime number')

 79

its a prime number

#ANSWER NO 21

In [15]:
grade = float(input())
if grade >= 90  :
    print('your grade is A+')
elif 90 > grade >= 80 :
    print('your grade is A')
elif 80 > grade >= 70:
    print('your grade is B+')
elif 70> grade >= 60 :
    print('your grade is B')
else:
    print('your grade is C')

 12

your grade is C

#ANSWER NO 22

In [17]:
len1 = int(input())
len2 = int(input())
len3 = int(input())
if len1 == len2 and len2 == len3:
    print('its is a equilateral triangle')
elif len1 == len2 or len1 == len3 or len2 == len3:
    print('its is a isosceles triangle')
else :
    print('its is a scalene triangle')

 1
 2
 1

its is a isosceles triangle

#ANSWER NO 23

In [1]:
weight = float(input('enter your weight in kilograms'))
height = float(input('enter your height in meters'))

bmi = weight/height**2

if bmi <18.5:
    print('you are in under weight range')
elif 18.5<= bmi <=24.9:
    print('you are in healthy weight range')
elif 25 <=bmi <=24.9:
    print('you are in over weight range')
else:
    print('you are obese')

enter your weight in kilograms 61
enter your height in meters 1.6

you are in healthy weight range

#ANSWER NO 24

In [2]:
n = float(input())
if n>0 :
    print('its a positive number')
elif n < 0:
    print('its a negative number')
else:
    print('its zero')

 0

its zero

#ANSWER NO 25

In [64]:
char = input('enter the string')
if len(char) > 1 :
    print('enter a single character')
elif char.islower() == True:
    print('character is lowercase')
elif char.isupper()== True :
    print('character is uppercase')
elif not char.isalpha()== True:
    print('its a special character')

enter the string @

its a special character

#ANSWER NO 26

In [48]:
amount = float(input())
if 500 < amount <= 1000:
    minus = (0.2*amount)
    print('actual price after discount:',amount - minus)
elif 1000< amount<=5000:
    minus1 = (0.5 * amount)
    print('actual price after discount : ',amount - minus1)
elif amount>=10000:
    minus2 = (0.7*amount)
    print('actual amount after price : ', amount - minus2)
else:
    print('disount after price of shopping is greater than 500 : ',amount)

 5000

actual price after discount :  2500.0

#ANSWER NO 27

In [11]:
unit = float(input('enter the unit comsumption'))
if 0 < unit <=100:
    bill = unit*1.5
    fixedcharge = 25
elif 100<unit <=100:
    bill = (100*1.5) + (unit-100)*2.5
    fixedcharge = 50
elif 200<unit<=300:
    bill = (100*1.5)+(100*2.5)+(unit-200)*3.5
    fixedcharge = 75
elif 300<unit<=400:
    bill = (100*1.5)+(100*2.5)+(100*3.5)+(unit-300)*5
    fixedcharge = 100
elif 400<unit>550:
    bill = (100*1.5)+(100*2.5)+(100*3.5)+(100*5)+(unit-400)*6.5
    fixedcharge = 150
print(bill+fixedcharge)

enter the unit comsumption 300

825.0

#ANSWER NO 28

In [27]:
ang1 = int(input('enter the first angle'))
ang2 = int(input('enter the second angle'))
ang3 = int(input('enter the third angle'))
ang4 = int(input('enter the fourth angle'))
if ang1 == ang2 == ang3 == ang4:
    print('its a square')
elif ang1==ang2 and ang2==ang3:
    print('its a rectangle')
elif ang1 + ang2 + ang3 + ang4 == 360:
    if ang1 == ang2 == ang3 != ang4:
        print("It's an isosceles trapezoid")
    elif ang1 == ang3 != ang2 == ang4:
        print("It's a kite")
    else:
        print("It's a quadrilateral")
else:
        print("It's not a valid quadrilateral")

enter the first angle 100
enter the second angle 95
enter the third angle 60
enter the fourth angle 105

It's a quadrilateral

#ANSWER NO 29

In [44]:
month = input('enter the name of month')
m = month.lower()
if m == 'december' or m ==  'january':
    print('''the season is winter
the climate is very cold''')
elif m == 'february' or m == 'march' :
    print('''the season is spring
the climate if sunny and pleasant''')
elif m == 'april' or m== 'may' or m == 'june' :
    print('''the season is summer
the climate is hot''')
elif m == 'july' or m == 'august' or m =='september':
    print('''the season is monsoon
the climate is humid,wet or hot''')
elif m == 'octuber' or m == 'november':
    print('''the season is autumun
the climate is pleasanat''')
else:
    print('please enter the right month name')

enter the name of month september

the season is monsoon
the climate is humid,wet or hot

#ANSWER NO 30

In [55]:
year = int(input('year'))
month = input('month')
m = month.lower()
if year % 4 == 0 :
    yeartype = 'leap year'
else:
    yeartype1 = 'common year'
    
if m in['january', 'march','may','july','august','octuber','december']:
    print('days in month is 31')
elif m in ['april','june','september','november']:
    print('days in month is 30')
elif m == 'february':
    if  yeartype == 'leap year':
        
        print('days in month is 29')
else:
    print('days in month is 28')

year 2000
month february

days in month is 29

#BASIC LEVEL QUESTIONS

ANSWER NO 1

In [2]:
n = float(input())
if n>0 :
    print('its a positive number')
elif n < 0:
    print('its a negative number')
else:
    print('its zero')

 0

its zero

ANSWER NO 2

In [4]:
n = int(input('enter the age'))
if n >= 18:
    print('he is eligible for voting')
elif n< 18:
    print('he is not eligible')

enter the age 19

he is eligible for voting

ANSWER NO 3

In [5]:
num1 = int(input())
num2 = int(input())
if num1 > num2:
    print(num1, ' is greater than ', num2)
else:
    print(num2, ' is greater than', num1)

 10
 14

14  is greater than 10

ANSWER NO 4

In [8]:
grade = float(input())
if grade >= 90  :
    print('your grade is A+')
elif 90 > grade >= 80 :
    print('your grade is A')
elif 80 > grade >= 70:
    print('your grade is B+')
elif 70> grade >= 60 :
    print('your grade is B')
else:
    print('your grade is C')

 70

your grade is B+

ANSWER NO 5

In [9]:
year = int(input('enter the year'))
if year%4 == 0:
    print('its a leap year')
else:
    print('its not a leap year')

enter the year 2008

its a leap year

ANSWER NO 6

In [10]:
len1 = int(input())
len2 = int(input())
len3 = int(input())
if len1 == len2 and len2 == len3:
    print('its is a equilateral triangle')
elif len1 == len2 or len1 == len3 or len2 == len3:
    print('its is a isosceles triangle')
else :
    print('its is a scalene triangle')

 10
 10
 12

its is a isosceles triangle

ANSWER NO 7

In [11]:
num1 = int(input())
num2 = int(input())
num3 = int(input())

if num1 >= num2:
    if num1 >= num3:
        largest = num1
    else:
        largest = num3
else:
    if num2 >= num3:
        largest = num2
    else:
        largest = num3
print(largest,'is the largest number')

 45
 56
 78

78 is the largest number

ANSWER NO 8

In [32]:
char = input()
char = char.lower()
if char[0] in 'aeiou':
    print('its a vowel')
else :
    print('its a constant')

 elephant

its a vowel

ANSWER NO 9

In [47]:
amount = float(input())
if 500 < amount <= 1000:
    minus = (0.2*amount)
    print('actual price after discount:',amount - minus)
elif 1000< amount<=5000:
    minus1 = (0.5 * amount)
    print('actual price after discount : ',amount - minus1)
elif amount>=10000:
    minus2 = (0.7*amount)
    print('actual amount after price : ', amount - minus2)
else:
    print('disount after price of shopping is greater than 500 : ',amount)

 400

disount after price of shopping is greater than 500 :  400.0

ANSWER NO 10

In [52]:
num = int(input())
if num%2== 0 :
    print('even number')
else:
    print('odd number')

 7

odd number

ANSWER NO 11

In [1]:
import math

a = float(input())
b = float(input())
c = float(input())

delta = (b**2)-(4*a*c)

if delta > 0:
    x1 = (((-b) + math.sqrt(delta)) / (2*a))
    x2 = (((-b) - math.sqrt(delta)) / (2*a))
    print('there are to root : %f and %f', (x1,x2))
elif delta == 0 :
    x = (-b)/2*a
    print('there are one root', x)
else :
    print('no root available delta is < 0 ')

 3
 4
 4

no root available delta is < 0

ANSWER NO 12

In [2]:
num = int(input('enter the number'))

days = ['MONDAY' , 'TUESDAY', 'WEDNESDAY' ,  'THURSDAY' , 'FRIDAY' , 'SATURDAY' , 'SUNDAY' ]

if num == 0 or num > 7 :
    print('please enter the number between 1 to 7 ')
elif 7 >= num and num > 0:
    print(days[num-1])

enter the number 7

SUNDAY

ANSWER NO 13

In [16]:
n = int(input())

def fact(n):
    if n == 0:
        return 1
    else :
        return n * fact(n-1)
print(fact(n))

 5

120

ANSWER NO 14

In [18]:
num1 = int(input())
num2 = int(input())
num3 = int(input())

if num1 >= num2:
    if num1 >= num3:
        largest = num1
    else:
        largest = num3
else:
    if num2 >= num3:
        largest = num2
    else:
        largest = num3
print(largest,'is the largest number')

 56
 67
 70

70 is the largest number

ANSWER NO 15

print('WELCOME TO THE SBI ATM')
trial = 3
userpin = 1234

while trial == 0 :
    pin = int(input('enter your pin'))
    if pin != userpin :
    
        print('your pin is incorrect')
        trial -= 1
    elif

ANSWER NO 16

In [3]:
string = input()
string.lower()
if string.lower()[::-1]==string.lower():
    print('its a palindrome')
else :
    print('its not a palindrome')

 flight

its not a palindrome

ANSWER NO 17

In [1]:
list_517 = [3, 1, 109, 34, 87, 456]
list_517.sort()
del list_517[0]
len_list_517 = len(list_517)
del list_517[len_list_517-1]
avg_list_517 = sum(list_517)/len(list_517)
print(f'The average of a list of numbers, excluding the smallest and largest values is {avg_list_517}.')

The average of a list of numbers, excluding the smallest and largest values is 58.25.

ANSWER NO 18

In [4]:
celcius = float(input('enter the temperature in celcius'))
farenhite = celcius*9/5+ 32

print('temprature in farenhite :', farenhite)

enter the temperature in celcius 78

temprature in farenhite : 172.4

ANSWER NO 19

In [6]:
no1 = int(input('enter the number'))
sign = input('enter the sign e.g.(*,/,+,-)')
no2 = int(input())
if sign == '*':
    print(no1*no2)
elif sign == '/':
    print(no1/no2)
elif sign == '+':
    print(no1+no2)
elif sign == '-':
    print(no1- no2)
else:
    print('please check and correct the sign you gave')

enter the number 4
enter the sign e.g.(*,/,+,-) +
 6

10

ANSWER NO 20

In [7]:
print('Please enter the coefficients of cubic equation: ')
a = int(input('Enter the first coefficient of the cubic equation: '))
b = int(input('Enter the second coefficient of the cubic equation: '))
c = int(input('Enter the third coefficient of the cubic equation: '))
d = int(input('Enter the fourth coefficient of the cubic equation: '))
D0 = b**2 - 3*a*c
D1 = 2*(b**3) - 9*a*b*c + 27*(a**2)*d
C = D1 
print(c)

Please enter the coefficients of cubic equation:

Enter the first coefficient of the cubic equation:  1
Enter the second coefficient of the cubic equation:  3
Enter the third coefficient of the cubic equation:  4
Enter the fourth coefficient of the cubic equation:  5

4

ANSWER NO 21

ANSWER NO 22

In [11]:
import random
myhand = input('choose your hand r, p ,s :')
cho = ['r','p','s']
opphan = random.choice(cho)
print(opphan)
if myhand == opphan:
    print('its a tie')
elif myhand == 'r' and opphan == 's':
    print('you are the winner')
elif myhand == 'p' and opphan == 'r':
    print('your are the winner')
elif myhand == 's' and opphan == 'p':
    print('you are the winner')
else:
    print('you loose better luck next time')

choose your hand r, p ,s : p

s
you loose better luck next time

ANSWER NO 23

In [17]:
import random 
length = int(input('enter the length of the password'))
password = "123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz!@#$%^&*()_+"
result = ''.join(random.sample(password,length))
print(f'your password is {result}')

enter the length of the password 5

your password is XD+Gg

ANSWER NO 24

ANSWER NO 25

In [22]:
print('The liner equation is written like : (a/b)*x + (c/d) = (e/f)')
a = int(input('a = '))
b = int(input('b = '))
c = int(input('c = '))
d = int(input('d = '))
e = int(input('e = '))
f = int(input('f = '))
if b == 0 or d == 0 or f == 0:
    print('Value of x is not calculatable')
elif c == 0 and e == 0 and b != 0 and d != 0 and f != 0:
    print('Value of x = 0')
elif c == 0 and e == 0 and b == 0 and d == 0 and f == 0:
    print('Value of x is not calculatable')
else:
    print(f'Value of x is {((e/f)-(c/d))/(a/b)}')

The liner equation is written like : (a/b)*x + (c/d) = (e/f)

a =  1
b =  2
c =  3
d =  4
e =  5
f =  5

Value of x is 0.5

ANSWER NO 26

In [37]:
score = 0
name = input('enter you name ')
print('welcome to game', name)
q1 = '''what is the capital of india
a - new delhi
b - banglore
c - haryana 
d - punjab'''
print(q1)
ans = input('enter your answer a ,b , c , d')
if ans == 'a':
    score += 1
    print('you are correct')
    print('score is', score)
else:
    print('wrong answer')
    print('score is ', score)
q2 = '''which country is hosting the worldcup 2023
a - AUSTRALIA
b - INDIA
c - ENGLAND
d - NEW ZALAND'''
print(q2)
ans = input('select option a , b , c ,d')
if ans == 'b' :
    print('correct answer')
    score += 1
    print('score 2')
else :
    print('wrong answer')
    print('score is ', score)

enter you name  harsh

welcome to game harsh
what is the capital of india
a - new delhi
b - banglore
c - haryana
d - punjab

enter your answer a ,b , c , d a

you are correct
score is 1
which country is hosting the worldcup 2023
a - AUSTRALIA
b - INDIA
c - ENGLAND
d - NEW ZALAND

select option a , b , c ,d b

correct answer
score 2

ANSWER NO 27

In [5]:
num = int(input('ENTER THE YEAR '))
for i in range(2,num):
    if num%i== 0:
        print('its not a prime number')
        break
else :
         print('its a prime number')

ENTER THE YEAR  2004

its not a prime number

ANSWER NO 28

In [2]:
a = int(input())
b = int(input())
c = int(input())
d = []
d.append(a)
d.append(b)
d.append(c)
for i in d :
    a = d.sort()
print(d)

 76
 899
 65

[65, 76, 899]

ANSWER NO 29

ANSWER NO 30

In [4]:
weight = float(input('enter your weight in kilograms'))
height = float(input('enter your height in meters'))

bmi = weight/height**2

if bmi <18.5:
    print('you are in under weight range')
elif 18.5<= bmi <=24.9:
    print('you are in healthy weight range')
elif 25 <=bmi <=24.9:
    print('you are in over weight range')
else:
    print('you are obese')

enter your weight in kilograms 60
enter your height in meters 1.60

you are in healthy weight range

ANSWER NO 31

In [1]:
password = input('enter your password')
if len(password)<10:
    print('your password strength is to weak')
    pass1 = input('please retype your password')
    if pass1 == password :
        print('your password is generated successfully') 
    else :
        print('please retry again')
else :
    print('plese enter a strong password')

enter your password harshitc

your password strength is to weak

please retype your password harshitc

your password is generated successfully

ANSWER NO 32

In [16]:
no1 = int(input('enter the number'))
sign = input('enter the sign e.g.(*,/,+,-)')
no2 = int(input())
if sign == '*':
    print(no1*no2)
elif sign == '/':
    print(no1/no2)
elif sign == '+':
    print(no1+no2)
elif sign == '-':
    print(no1- no2)
else:
    print('please check and correct the sign you gave')

enter the number 5
enter the sign e.g.(*,/,+,-) -
 6

-1

ANSWER NO 33

ANSWER NO 34

ANSWER NO 35

ANSWER NO 36

In [23]:
num = int(input())
a = 0
b = 1
counter = 0
while counter < num :
    print(a , end= ',')
    c = a+b
    a = b
    b = c
    counter = counter + 1

 10

0,1,1,2,3,5,8,13,21,34,

ANSWER NO 37

In [31]:
def fib(nth):
    if (nth <= 1):
        return nth
    else: 
        return fib(nth - 1) + fib(nth - 2)
n = int(input('Enter the nth term for fibonacci sequence: '))
fib(n)

Enter the nth term for fibonacci sequence:  4

3

ANSWER NO 38

In [33]:
import calendar

def generate_calendar(year, month):
    # Create a calendar object for the specified month and year
    cal = calendar.month(year, month)

    # Print the calendar
    print(f"Calendar for {calendar.month_name[month]} {year}:\n")
    print(cal)

if __name__ == "__main__":
    try:
        year = int(input("Enter the year: "))
        month = int(input("Enter the month (1-12): "))

        if 1 <= month <= 12:
            generate_calendar(year, month)
        else:
            print("Invalid month. Please enter a number between 1 and 12.")
    except ValueError:
        print("Invalid input. Please enter a valid year and month.")

Enter the year:  2024
Enter the month (1-12):  1

Calendar for January 2024:

    January 2024
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

ANSWER NO 39