1. Write a Python program to print the numbers from 1 to 10 using a `for` loop.

In [1]:
for i in range(1,11):
    print(i,end=' ' )

1 2 3 4 5 6 7 8 9 10

2. Create a program that calculates the sum of all numbers in a list using a `for` loop.

In [3]:
l = [1,2,3,4,5,6]
l1 = 0
for i in l :
    l1 = i + l1
print(l1)

21

3. Write a program to print the characters of a string in reverse order using a `for` loop.

In [6]:
s = 'harshit'
for i in s[::-1] :
    print(i,end='')

tihsrah

4. Develop a program that finds the factorial of a given number using a `for` loop.

In [20]:
num = 5
fact = 1
for i in range(1,num+1):
    fact = fact*i
print(fact)

120

5. Create a program to print the multiplication table of a given number using a `for` loop

In [26]:
num = int(input())
table = 1 
for i in range(1,11):
    print(num, '*', table, '=', table*num)
    table = table+1

 2

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

6. Write a program that counts the number of even and odd numbers in a list using a `for` loop.

In [27]:
l2 = [1,2,3,4,5,6,7,8]
for i in l2 :
    if i%2 == 0:
        print(i)

2
4
6
8

7. Develop a program that prints the squares of numbers from 1 to 5 using a `for` loop.

In [28]:
l3 = [1,2,3,4,5]
for i in l3 :
    print(i**2)

1
4
9
16
25

8. Create a program to find the length of a string without using the `len()` function.

In [31]:
s1 = 'harshit'
l = 0 
for i in s1 :
    l = l+1
print(l)

7

9. Write a program that calculates the average of a list of numbers using a `for` loop.

In [32]:
l4 = [10,20,30,40,50]
total = 0 
count= 0 
for i in l4 :
    total = i+total
    count = count+1
if count>0:
    average = total/count
else :
    average = 0
print(average)

30.0

10. Develop a program that prints the first `n` Fibonacci numbers using a `for` loop.

In [33]:
num = int(input())
a = 0 
b = 1 
for  i in range(1,num+1):
    print(a)
    c = a+b
    a = b
    b = c

 10

0
1
1
2
3
5
8
13
21
34

11. Write a program to check if a given list contains any duplicates using a `for` loop.

In [45]:
l5 =['was' , 'and', 'is','was','this', 'is']
dup = []
org = []
for i in l5 :
    if i not in org :
        org.append(i)
    elif i not in dup:
        dup.append(i)
print(dup)

['was', 'is']

12. Create a program that prints the prime numbers in a given range using a `for` loop.

In [70]:
num = int(input())
for i in range(2,num):
    if num%i == 0:
        print('not prime')
        break
else :
    print('prime')

 7

prime

13. Develop a program that counts the number of vowels in a string using a `for` loop.

In [78]:
s3 = 'harshit chauhan'
vowels = 'aeiou'
count = 0
for i in s3 :
    if i in vowels :
        count += 1
print(count)

5

14. Write a program to find the maximum element in a 2D list using a nested `for` loop.

15. Create a program that removes all occurrences of a specific element from a list using a `for` loop.

In [5]:
l5 = [1,2,3,4,5,2,3,2]
rem = int(input())
for i in l5 :
    if i == rem :
        l5.remove(i)
print(l5)

 3

[1, 2, 4, 5, 2, 2]

16. Develop a program that generates a multiplication table for numbers from 1 to 5 using a nested `for` loop.

In [17]:
start = 1
end = 5
for i in range(start,end+1):
    for j in range(start,end+1):
        result = i * j 
        print(result , end = '\t ' )
        
    print()

1	 2	 3	 4	 5
2	 4	 6	 8	 10
3	 6	 9	 12	 15
4	 8	 12	 16	 20
5	 10	 15	 20	 25

17. Write a program that converts a list of Fahrenheit temperatures to Celsius using a `for` loop.

In [26]:
f = [21,143,213,135,150]
c = []
for i in f :
    b = (i -32) * 5/9
    c.append(b)
print(c)

[-6.111111111111111, 61.666666666666664, 100.55555555555556, 57.22222222222222, 65.55555555555556]

18. Create a program to print the common elements from two lists using a `for` loop.

In [30]:
l = [1,2,3,4,5,6,7]
l1 = [1,12,14,15,6,4]
for i in l :
    if i in l1:
        print(i)

1
4
6

19. Develop a program that prints the pattern of right-angled triangles using a `for` loop. Use ‘*’ to draw the
pattern

In [32]:
num_rows = 5

for i in range(1, num_rows + 1):
    for j in range(i):
        print('*', end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

20. Write a program to find the greatest common divisor (GCD) of two numbers using a `for` loop.

In [40]:
num1 = int(input())
num2 = int(input())
if num1 > num2:
    mn = num2
else :
    mn =num1
for i in range(1,mn):
    if num1 % i == 0 and num2 % i == 0 :
        gcd = i
print(gcd)

 24
 36

12

21. Create a program that calculates the sum of the digits of numbers in a list using a list comprehension.

In [8]:
l = [1,2,3,4,5,6]
from functools import reduce
s = reduce(lambda a,b : a+b, l)

In [4]:
s

21

22. Write a program to find the prime factors of a given number using a `for` loop and list comprehension.

def prime_factors(n):
    return [i for i in range(2,n+1) if n % i == 0  ]
    

# Input
number = int(input("Enter a number: "))

# Finding prime factors
result = prime_factors(number)

print(result)

23. Develop a program that extracts unique elements from a list and stores them in a new list using a list
comprehension.

In [28]:
list_23_1 = [1,2,3,0,9,9]
list_23_2 = set()
{list_23_2.add(i) for i in list_23_1}            
print(f'The unique elements in list {list_23_1} are {list(list_23_2)}')

The unique elements in list [1, 2, 3, 0, 9, 9] are [0, 1, 2, 3, 9]

24. Create a program that generates a list of all palindromic numbers up to a specified limit using a list
comprehension.

In [32]:
number = int(input())
[i for i in range(1,number+1) if str(i)==str(i)[::-1]]

 100

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99]

25. Write a program to flatten a nested list using list comprehension.

In [45]:
list= [[1,2,3,4],[5,6,7,8]]
[j for i in list for j in i]

[1, 2, 3, 4, 5, 6, 7, 8]

26. Develop a program that computes the sum of even and odd numbers in a list separately using list
comprehension.

In [2]:
l = [1,2,3,4,5,6,7,8,9,10,11,12,14,13]
sum_odd = sum([i for i in l if i % 2 != 0])
sum_even = sum([i for i in l if i %2 == 0])
print(sum_odd)
print(sum_even)

49
56

27. Create a program that generates a list of squares of odd numbers between 1 and 10 using list
comprehension.

In [3]:
l = range(1,11)
[i**2 for i in l if i%2 != 0]

[1, 9, 25, 49, 81]

28. Write a program that combines two lists into a dictionary using list comprehension.

In [14]:
l = [1,2,3,4,5]
l1 = [1,4,9,16,25]

{l[i] : l1[i] for i in range(len(l))}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

29. Develop a program that extracts the vowels from a string and stores them in a list using list comprehension.

In [20]:
l = 'harshit chauhan'
vowel = 'aeiou'
vowel_list = []
[i  for i in l if i in vowel]

['a', 'i', 'a', 'u', 'a']

30. Create a program that removes all non-numeric characters from a list of strings using list comprehension.

In [22]:
l = ['str', 1,3,'owl',5 ,'mad']
[i for i in l if type(i) != int]

['str', 'owl', 'mad']

31. Write a program to generate a list of prime numbers using the Sieve of Eratosthenes algorithm and list
comprehension.

In [ ]:
not a